.button:hover{
    -fx-background-color: #55c786;
    -fx-border-color: #0ec05b;
}

.button{
    -fx-cursor: HAND;
    -fx-border-color: #b7efe5;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #c4dcd8;
}

.play:hover{
    -fx-background-color: #ffd300;
    -fx-border-color: #ccb12c;
}
